:root {
  --bgColor: #ffd400;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title-contain {
  padding: 3rem 0 0 3rem;
}

.film-container {
  display: flex;
  flex-direction: row;
  padding: 3rem;
  gap: 1rem;
}
