:root {
  --bgColor: #ffd400;
}

footer {
  position: absolute;
  background-color: var(--bgColor);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  width: 100%;
}
